<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title><%- title %></title>
<meta name="description" content="<%- description %>">
<meta name="format-detection" content="telephone=no">
<!-- <link rel="canonical" href="https://www.sample.jp/"> -->

<!-- OGP - facebook -->
<meta property="og:type" content="WEBsite">
<meta property="og:title" content="<%- title %>">
<meta property="og:url" content="http://www.sample.jp/<%- url %>">
<meta property="og:description" content="<%- description %>">
<meta property="og:image" content="http://www.sample.jp/img/og.jpg">
<meta property="og:site_name" content="">

<!--  OGP - Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@twitter_name">
<meta name="twitter:title" content="<%- title %>">
<meta name="twitter:url" content="http://www.sample.jp/<%- url %>">
<meta name="twitter:description" content="<%- description %>">

<link rel="icon" href="/img/common/favicon.png">
<link rel="apple-touch-icon" href="/img/common/apple-touch-icon.png">
<link rel="stylesheet" href="/css/style.css">
